{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<h1 class="govuk-heading-l">Tell us what you think</h1>

<div class="govuk-grid-row grid-row-extra-bottom-margin">
  <div class="govuk-grid-column-one-quarter">
    <img src="/public/images/redline-map-03.png" alt="Boundary map" >
  </div>
  <div class="govuk-grid-column-three-quarters">
    <h2 class="govuk-heading-m">11 Abbey Gardens, SE16 3RQ</h2>
    <h2 class="govuk-heading-s">Application Reference</h2>
    <p>SWK-23-00141-HAPP</p>
    <p>Your feedback helps us improve developments so they meet the needs of people in Camden. It's important you let us know what you think.</p>
  </div>
</div>


<div class="govuk-error-summary" data-module="govuk-error-summary">
  <div role="alert">
    <h2 class="govuk-error-summary__title">
      There was a problem submitting your comment
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          There was a technical issue when we tried to submit your comment.
        </li>
        <li>
          Your comment has been kept in your browser.</li>
        <li>
          Please try again later, or <a href="https://www.camden.gov.uk/contact-camden">contact your council</a>
        </li>
      </ul>
    </div>
  </div>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
        Check your comments before sending your application
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "How do you feel about this development?"
            },
            value: {
              text: data['feeling']
            },
            actions: {
              items: [
                {
                  href: "comment-01",
                  text: "Change",
                  visuallyHiddenText: "feeling on this development"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "What topics do you want to comment on?"
            },
            value: {
              text: data['topics']
            },
            actions: {
              items: [
                {
                  href: "comment-02",
                  text: "Change",
                  visuallyHiddenText: "topics you want to comment on"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Comment on the design, size or height of new buildings or extensions"
            },
            value: {
              text: data['design-comment']
            },
            actions: {
              items: [
                {
                  href: "comment-03",
                  text: "Change",
                  visuallyHiddenText: "comment on the design, size or height of new buildings or extensions"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Comment on the use and function of the proposed development"
            },
            value: {
              text: data['use-comment']
            },
            actions: {
              items: [
                {
                  href: "comment-04",
                  text: "Change",
                  visuallyHiddenText: "comment on the use and function of the proposed development"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Comment on any impacts on natural light"
            },
            value: {
              text: data['light-comment']
            },
            actions: {
              items: [
                {
                  href: "comment-05",
                  text: "Change",
                  visuallyHiddenText: "comment on any impacts on natural light"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Comment on any impacts on privacy of neighbours"
            },
            value: {
              text: data['privacy-comment']
            },
            actions: {
              items: [
                {
                  href: "comment-06",
                  text: "Change",
                  visuallyHiddenText: "comment on any impacts on privacy of neighbours"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Comment on disabled access"
            },
            value: {
              text: data['access-comment']
            },
            actions: {
              items: [
                {
                  href: "comment-07",
                  text: "Change",
                  visuallyHiddenText: "comment on disabled access"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Comment on any noise from new uses"
            },
            value: {
              text: data['noise-comment']
            },
            actions: {
              items: [
                {
                  href: "comment-08",
                  text: "Change",
                  visuallyHiddenText: "comment on any noise from new uses"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Comment on traffic, parking or road safety"
            },
            value: {
              text: data['traffic-comment']
            },
            actions: {
              items: [
                {
                  href: "comment-09",
                  text: "Change",
                  visuallyHiddenText: "comment on traffic, parking or road safety"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Other comments"
            },
            value: {
              text: data['other-comment']
            },
            actions: {
              items: [
                {
                  href: "comment-10",
                  text: "Change",
                  visuallyHiddenText: "other comments"
                }
              ]
            }
          }
        ]
      }) }}


      <h1 class="govuk-heading-l">
        Check your details before sending your application
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: data['name']
            },
            actions: {
              items: [
                {
                  href: "comment-11",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Address"
            },
            value: {
              text: data['address']
            },
            actions: {
              items: [
                {
                  href: "comment-11",
                  text: "Change",
                  visuallyHiddenText: "address"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Postcode"
            },
            value: {
              text: data['postcode']
            },
            actions: {
              items: [
                {
                  href: "comment-11",
                  text: "Change",
                  visuallyHiddenText: "postcode"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Email address"
            },
            value: {
              text: data['email']
            },
            actions: {
              items: [
                {
                  href: "comment-11",
                  text: "Change",
                  visuallyHiddenText: "email address"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Telephone number"
            },
            value: {
              text: data['telephone']
            },
            actions: {
              items: [
                {
                  href: "comment-11",
                  text: "Change",
                  visuallyHiddenText: "telephone number"
                }
              ]
            }
          }
        ]
      }) }}





      <h2 class="govuk-heading-m">
        Now send your application
      </h2>

      <p class="govuk-body"> By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
      
      <details class="govuk-details">
        <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            How we handle your data
        </span>
            </summary>
            <div class="govuk-details__text">
              <p>We need your name and contact information because can only formally explore comments coming from people who live close to the proposed development. We will also use this to contact you if the planning decision regarding this application is appealed.</p>
  
              <p>Your comments will be made available online for the public to see. We will not include your name, address, telephone number or email address.</p>
  
              <p>We'll make sure any other personal or sensitive information is removed where needed, in line with the <a href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/key-definitions/what-is-personal-data/" target="_blank">General Data Protection Regulation (GDPR)</a>. If you have concerns about any data you have sent being published, <a href="https://www.camden.gov.uk/contact-the-planning-advice-and-information-service" target="_blank">contact the Planning Advice and Information Service</a>.</p>
  
              <p>Read our <a href="https://www.camden.gov.uk/data-protection-privacy-and-cookies" target="_blank">corporate privacy statement</a> and our <a href="https://www.camden.gov.uk/documents/20142/2247044/Privacy+Notice_regenerationandplanning+-+updated+May19.pdf/23506373-1b95-2cc5-55b2-55897cfe4b42" target="_blank">planning service privacy statement</a> for more information.</p>
            </div>
          </details>

      <form action="confirmation" method="post" novalidate>

        {{ govukButton({
          text: "Accept and send"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
