<details class="govuk-details">

    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            How we handle your data <em>(shows more information below)</em>
        </span>
    </summary>

    <div class="govuk-details__text">
        <p>We need your name and contact information because can only formally explore comments coming from people who live close to the proposed development. We will also use this to contact you if the planning decision regarding this application is appealed.</p>

        <p class="govuk-body">Your comments will be published online after being reviewed by the planning team. <strong>We will not include your address, telephone number or email address - but the name you give us may be published alongside your comment.</strong></p> 

        <p>We'll make sure any other personal or sensitive information is removed where needed, in line with the <a href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/key-definitions/what-is-personal-data/" target="_blank">General Data Protection Regulation (GDPR)</a>. If you have concerns about any data you have sent being published, <a href="https://www.camden.gov.uk/contact-the-planning-advice-and-information-service" target="_blank">contact the Planning Advice and Information Service</a>.</p>
            
        <p>Read our <a href="https://www.camden.gov.uk/data-protection-privacy-and-cookies" target="_blank">corporate privacy statement</a> and our <a href="https://www.camden.gov.uk/documents/20142/2247044/Privacy+Notice_regenerationandplanning+-+updated+May19.pdf/23506373-1b95-2cc5-55b2-55897cfe4b42" target="_blank">planning service privacy statement</a> for more information.</p>

        <p class="govuk-body">You will not receive a direct reply to your comment.</p>

        <p class="govuk-body">When the case officer decides whether or not to approve the application they will take into account all comments related to <a href="https://www.camden.gov.uk/commenting-planning-application" class="govuk-link" target="_blank">material considerations</a>. The case officer will summarise their findings in the officer's report and decision notice.</p>
    </div>

</details>