{% if data.application_array[data['current_app']].site_notice_content|length %}
<h2 class="govuk-heading-l" id="images">Images</h2>

<ul class="lb-album">
	<li>
		<a href="#image-1">
			<img src="/public/images/bungalow-render.png" alt="Render of bungalows">
		</a>
		<div class="lb-overlay" id="image-1">
			<img src="/public/images/bungalow-render.png" alt="Render of bungalows" />
			<div>
				<p>Render of bungalows</p>
				<a href="#image-5" class="lb-prev" title="previous">{% include "./_prev-icon.html" %}</a>
				<a href="#image-2" class="lb-next" title="next">{% include "./_next-icon.html" %}</a>
			</div>
			<a href="#page" class="lb-close">x</a>
		</div>
	</li>
	<li>
		<a href="#image-2">
			<img src="/public/images/bungalows.png" alt="Drawing of bungalows">
		</a>
		<div class="lb-overlay" id="image-2">
			<img src="/public/images/bungalows.png" alt="Drawing of bungalows" />
			<div>
				<p>Drawing of bungalows</p>
				<a href="#image-1" class="lb-prev" title="previous">{% include "./_prev-icon.html" %}</a>
				<a href="#image-3" class="lb-next" title="next">{% include "./_next-icon.html" %}</a>
			</div>
			<a href="#page" class="lb-close">x</a>
		</div>
	</li>
    <li>
		<a href="#image-3">
			<img src="/public/images/floorplan.png" alt="Proposed floor plan">
		</a>
		<div class="lb-overlay" id="image-3">
			<img src="/public/images/floorplan.png" alt="Proposed floor plan" />
			<div>
				<p>Proposed floor plan</p>
				<a href="#image-2" class="lb-prev" title="previous">{% include "./_prev-icon.html" %}</a>
				<a href="#image-4" class="lb-next" title="next">{% include "./_next-icon.html" %}</a>
			</div>
			<a href="#page" class="lb-close">x</a>
		</div>
	</li>
    <li>
		<a href="#image-4">
			<img src="/public/images/elevation.png" alt="Proposed elevation">
		</a>
		<div class="lb-overlay" id="image-4">
			<img src="/public/images/elevation.png" alt="Proposed elevation" />
			<div>
				<p>Proposed elevation</p>
				<a href="#image-3" class="lb-prev" title="previous">{% include "./_prev-icon.html" %}</a>
				<a href="#image-5" class="lb-next" title="next">{% include "./_next-icon.html" %}</a>
			</div>
			<a href="#page" class="lb-close">x</a>
		</div>
	</li>
    <li>
		<a href="#image-5">
			<img src="/public/images/layout.png" alt="Proposed layout">
		</a>
		<div class="lb-overlay" id="image-5">
			<img src="/public/images/layout.png" alt="Proposed layout" />
			<div>
				<p>Proposed layout</p>
				<a href="#image-4" class="lb-prev" title="previous">{% include "./_prev-icon.html" %}</a>
				<a href="#image-1" class="lb-next" title="next">{% include "./_next-icon.html" %}</a>
			</div>
			<a href="#page" class="lb-close">x</a>
		</div>
	</li>
</ul>
<div style="clear:both;" class="huge-bottom-margin"></div>

{% endif %}
