<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-s">No applications match your search</h2>
      <p>You can try searching again, or <a href="javascript:window.history.back()">go back.</a></p>
      <p>If you having problems with finding what you need, you can:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Check you have spelled everything correctly</li>
        <li>Try being less specific with your search query</li>
        <li><a href="https://www.camden.gov.uk/contact-camden">Get in touch with the council</a></li>
      </ul></p>
    </div>
</div>